[anubis]
spoe-agent anubis
  messages check-client-cookie
  option var-prefix anubis
  timeout hello 2s
  timeout idle 5s
  timeout processing 1s
  use-backend anubis-spoe
  log global

spoe-message check-client-cookie
  args cookie=req.cook(within.website-x-cmd-anubis-auth) headers=req.hdrs path=path method=method remote_addr=src proto=req.ver
  # requests from localhost do not need to go to anubis, this prevents request loops
  event on-frontend-http-request if !LOCALHOST want_anubis