frontend http
  mode http
  bind :::443 v4v6 alpn h2,http/1.1 ssl crt /etc/ssl/crtkey

  acl want_anubis hdr(Host) -i "app1.example.org"
  acl want_anubis hdr(Host) -i "app2.example.org"

  filter spoe engine anubis config /etc/haproxy/anubis.cfg

  # This config does not use all those ACLs, they are only defined as an example
  acl anubis_pass      var(req.anubis.result) -m int 0   # explicit pass rule
  acl anubis_pass      var(req.anubis.result) -m int 1   # cookie ok
  acl anubis_block     var(req.anubis.result) -m int 2   # explicit block rule
  acl anubis_challenge var(req.anubis.result) -m int 3   # challenge requested
  acl anubis_err       var(req.anubis.result) -m int 255 # an error occurred within anubis
  acl anubis_response  var(req.anubis.result) -m found   # anubis did set a status, allows us to check if it is broken

  # by ignoring error conditions and treating them same as pass we are implementing a fail open situation
  # allowing requests to pass without being authenticated in case anubis goes offline
  use_backend anubis-http if anubis_challenge
  http-request deny if anubis_block

  # any client exempted from anubis in the ACL in the SPOE config-file needs to also be excluded from the error ACL
  #http-request deny if !LOCALHOST anubis_err want_anubis || anubis_response # uncomment this line to switch to fail-closed operation

  # Optionally: More HAProxy request routing logic

  # custom routing in HAProxy
  use_backend BE-app1 if { hdr(host) -i "app1.example.org" }
  use_backend BE-app2 if { hdr(host) -i "app2.example.org" }
  use_backend BE-app3 if { hdr(host) -i "app3.example.org" }

backend anubis-http
  mode http

  option forwardfor header "X-Real-IP"
  # The next two lines, as well as the `check port 9090` can be removed if no health check is desired
  option httpchk
  http-check send meth GET uri /metrics hdr "X-Real-Ip" "::1"

  server anubis1 2001:db8::42:8923 check port 9090

backend anubis-spoe
  mode tcp

  option httpchk
  http-check send meth GET uri /metrics hdr "X-Real-Ip" "::1"

  server anubis1 2001:db8::42:9000 check port 9090

backend BE-app1
  mode http
  server server1 2001:db8::1:3923

backend BE-app1
  mode http
  server server1 2001:db8::2:3923

backend BE-app1
  mode http
  server server1 2001:db8::3:3923